@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

/* Sass Template */
@import "./include/variables.scss";
@import "./include/globals.scss";
@import "./include/typography.scss";
@import "./include/colors.scss";
@import "./include/margins.scss";

/* CSS Custom Styles */

/* Carousel */
.carousel-inner {
  position: relative;
  display: block;
}

.home-carousel-logo {
  position: absolute;
  top: 20%;
  left: 10%;
}

.home-carousel-slogan {
  position: absolute;
  top: 35%;
  left: 10%;
  color: #ffffff;
}
