/* Color Template */

.color-primary {
  color: $color-primary;
}

.color-secondary {
  color: $color-secondary;
}

.color-background {
  background: $color-background;
}

.color-text {
  color: $color-text;
}
