/* Typography Classes */
.font-roboto {
  font-family: $font-roboto;
}

.font-roboto-light {
  font-family: $font-roboto;
  font-weight: lighter;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-24 {
  font-size: 24px;
}

.font-size-32 {
  font-size: 32px;
}

.font-size-36 {
  font-size: 36px;
}
